{% extends "home.html" %}
{% load static %}

{% block title %}
<title>Registros</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/registros.css' %}">
{% endblock %}

{% block content %}
<section>
    <div class="molecule_selection">
        <label for="seleccion">Seleccionar tipo de archivo</label>
        <select id="seleccion_tipo" name="seleccion">
            <option value="sari">SARI</option>
            <option value="sara">SARA</option>
            <option value="sarv">SARV</option>
            <option value="sarda">SARDA</option>
        </select>
    </div>
</section>
<section>
    <div id="contRegister" class="molecule_contRegister">
        <!-- STUB : TABLA DE LOS REGISTROS -->
    </div>
    <div>
    </div>
    <div id="cont_ventana_view" class="molecule_contRegister">
        <!-- STUB : TABLA DE LOS REGISTROS -->
    </div>
</section>
{% endblock %}

{% block scriptContent %}
<script type="module" src="{% static 'js/scripts_registros/main.js' %}"></script>

<script type="module">
    import { renderisarTabla } from '/static/js/scripts_registros/views.js';

    let data = JSON.parse('{{ data|safe }}');
    renderisarTabla(data);

    // NOTE : ESTO
    document.getElementById('select_registros').classList.add('tipe_select');
</script>
{% endblock %}